.popular {
   margin: 0 auto 120px;
   padding: 0 15px;
   position: relative;
   max-width: 1619px;
   background-color: #fff;
   overflow: hidden;

   @media (max-width: 700px) {
      margin-bottom: 60px;
   }

   // .popular__title
   &__title {
      margin-bottom: 50px;
      display: inline-block;
      font-weight: 700;
      font-size: 30px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #141414;

      @media (max-width: 700px) {
         margin-bottom: 20px;
         font-size: 24px;
      }
   }

   // .popular__catalog
   &__catalog-block {
      padding-right: 15px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;

      @media (max-width: 700px) {
         position: relative;
         order: 3;
      }
   }

   &__catalog-url {
      font-weight: 600;
      font-size: 18px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: rgba(20, 20, 20, 0.58);
      cursor: pointer;
      &:hover {
         color: $yellow;
         text-decoration: underline;
      }
   }

   &__catalog-icons {
      width: 16px;
      height: 10px;
      fill: $yellow;
      transform: rotate(-90deg);
   }

   &__viewport {
      margin: 0 -7px;
      padding: 0 7px;
      width: calc(100% + 14px);
      overflow: hidden;

      @media (max-width: 700px) {
         margin-bottom: 20px;
      }
   }

   @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}


// .slider-popular
.slider-popular {
   padding: 10px 0;
   position: relative;
   min-height: 596px;
   display: flex;
   gap: 0 30px;
   transition: 1s linear;
   box-sizing: content-box;

   @media (max-width: 700px) {
      min-height: 536px;
   }
}

//    // .slider-popular__item
//    &__item {
//       position: absolute;
//       top: 10px;
//       left: 0;
//       min-width: 374px;
//       flex: 0 0 374px;
//       box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
//       transition: 1s linear;

//       @media (max-width: 700px) {
//          min-width: 290px;
//          max-width: 290px;
//       }
//    }

//    // .slider-popular__picture
//    &__picture {
//       margin-bottom: 19px;
//       padding: 22px 52px 33px;
//       width: 100%;
//       height: auto;
//    }

//    // .slider-popular__img
//    &__img {
//       width: 100%;
//       height: auto;
//    }

//    // .slider-popular__info
//    &__info {
//       margin: 19px 20px 29px;

//       @media (max-width: 700px) {
//          margin-bottom: 0;
//       }
//    }


// }

// .info-item {
//    position: relative;
//    &::before {
//       content: '';
//       position: absolute;
//       bottom: 130px;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       background-color: rgba(20, 20, 20, 0.5);
//    }

//    // .info-item__title
//    &__title {
//       font-weight: 600;
//       font-size: 20px;
//       line-height: 34px;
//       color: #141414;
//    }

//    // .info-item__exterior
//    &__exterior {
//       margin-bottom: 5px;
//       display: flex;
//       justify-content: space-between;
//       font-weight: 600;
//       font-size: 16px;
//       line-height: 34px;
//       color: #ABABAB;
//    }

//    // .info-item__feedback
//    &__feedback {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       margin-bottom: 40px;
//       font-weight: 500;
//       font-size: 16px;
//       line-height: 34px;
//       color: #ABABAB;

//       @media (max-width: 700px) {
//          flex-direction: column;
//          align-items: start;
//       }
//    }

//    // .info-item__grade
//    &__grade {
//       @media (max-width: 700px) {
//          margin-bottom: 10px;
//       }
//    }

//    // .info-item__reviews
//    &__reviews {
//       color: inherit;
//       &:hover {
//          text-decoration: underline;
//       }
//    }

//    // .info-item__price
//    &__price-wrap {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//    }
//    // .info-item__price
//    &__price {
//       margin-bottom: 26px;
//       display: inline-flex;
//       font-weight: 600;
//       font-size: 20px;
//       line-height: 34px;
//       color: #141414;
//    }

//    // .info-item__additionally
//    &__additionally {
//       display: inline-flex;
//       gap: 15px;
//    }

//    // .info-item__comparison
//    &__comparison {
//       background-color: transparent;
//    }

//    &__comparison-icons {
//       width: 26px;
//       height: 25px;
//       &:hover {
//          fill: $yellow;
//       }
//    }

//    // .info-item__favorites
//    &__favorites {
//       background-color: transparent;
//    }

//     &__favorites-icons {
//        width: 28px;
//        height: 25px;
//        fill: $yellow;
//        &:hover {
//          stroke: $yellow;
//        }
//     }

//    // .info-item__cart-button
//    &__cart-button {
//       margin: 0 auto;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 0 15px;
//       width: calc(100% - 20px);
//       background-color: $yellow;
//       border-radius: 3px;

//       @media (max-width: 700px) {
//          margin-left: -20px;
//          width: calc(100% + 40px);
//       }
//    }

//    // .info-item__cart-button-text
//    &__cart-button-text {
//       font-weight: 600;
//       font-size: 18px;
//       line-height: 46px;
//       color: #FFFFFF;
//    }

//    // .info-item__cart-button-icons
//    &__cart-button-icons {
//       width: 18px;
//       height: 18px;
//       fill: transparent;
//       stroke: #fff;
//    }
// }
