@import "./global/scaffolding";

.c1 {

}

.c2 {
   font-family: "Montserrat";
   font-weight: 500;
   color: $yellow
}

.c3 {
   font-family: "Montserrat";
   font-weight: 700;
   background-color: $grey;
}